<div class="container mt-5 mb-5">
<div class="row justify-content-center">


  
    <div class="card m-4" style="width: 20rem;">
        <div class="row g-0">
          <div class="col p-3 mb-2">
            <img src="img/profile/support.png" class="img-fluid rounded-start">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Services</h5>
              <p class="font-weight-lighter">24/7 support, good SLA services and Commission 10%</p>
              <p class="card-text"><small class="text-muted">support : telegram | email | twitter</small></p>
            </div>
          </div>
        </div>
      </div>
    
      <div class="card m-4" style="width: 20rem;">
        <div class="row g-0">
          <div class="col p-3 mb-2">
            <img src="img/profile/monitoring.png" class="img-fluid rounded-start">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Transparent</h5>
              <p class="font-weight-lighter">Providing monitoring tools for checking our performance and our activity</p>
              <p class="card-text"><small class="text-muted">monitoring - transparant - system</small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card m-4" style="width: 20rem;">
        <div class="row g-0">
          <div class="col p-3 mb-2">
            <img src="img/profile/secure.png" class="img-fluid rounded-start">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Secure</h5>
              <p class="font-weight-lighter">Implemented security and up to date | Non-custodial full control over your funds!</p>
              <p class="card-text"><small class="text-muted">security - audit - accounting</small></p>
            </div>
          </div>
        </div>
      </div>




</div>
</div>