    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Get rewarded by staking your crypto assets</h2>
              <br/>
                <p>We are applying security, automation, tuning  and auditing</p>
		<p>We run reliable and secure validators and nodes of several different blockchain protocols. Come stake with us!</p>
                <br/>
              </div>
        </div>
    </section>
