    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
	      <p style="color:red;">
	      <h2> NEWS </h2>
	      <br>
	      <b><i> 03 July 2022 | Currently, We have some running tesnet APTOS, SUI and MASA Validator. We hope we could Running in Mainnet Soon</b></i>
	      <br>
	      </p>
	      <br>
              <h2>Get rewarded by staking your crypto assets</h2>
              <br/>
                <p>We are applying security, automation, tuning  and auditing</p>
		<p>We run reliable and secure validators and nodes of several different blockchain protocols. Come stake with us!</p>
                <br/>
              </div>
        </div>
    </section>
