<section id="contact">
	<div class="banner text-center" style="text-shadow: 0px 1px 1px;">
		<main>
			<div class="text-center">
            <img class="img rounded-circle" src="img/profile/profile.jpg">
			
				<h3 style="font-family: 'RoomIT';">Dwiyan | Founder </h3><br>		
				<p style="font-family: 'Signature';">		
				Professional IT and Experienced as Devops and System Administrator in IT Company and Blockchain Nodes Validator.  
				</p>
		
		    </div>
		

			<!-- Find your icons from here - https://fontawesome.com/icons?d=gallery&s=brands -->
			<div class="icons-social">
				<a target="_blank" href="https://stake.roomit.xyz/">
					<i class="fa-sharp fa-solid fa-blog" aria-hidden="true" title="RoomIT Staking Informations"></i>
					<span class="sr-only">Staking</span>
				</a>
				<a target="_blank" href="https://github.com/roomit-xyz">
					<i class="fab fa-github" aria-hidden="true" title="Github"></i>
					<span class="sr-only">Github</span>
				</a>
				<a target="_blank" href="https://docs.roomit.xyz">
					<i class="fas fa-book" aria-hidden="true" title="Documents"></i>
					<span class="sr-only">Documents</span>
				</a>
				<a target="_blank" href="https://roomit.medium.com">
					<i class="fab fa-medium" aria-hidden="true" title="Medium"></i>
					<span class="sr-only">Medium</span>
				</a>
				<a target="_blank" href="mailto: admin@roomit.xyz">
					<i class="fa-solid fa-envelope" aria-hidden="true" title="Email"></i>
					<span class="sr-only">Email</span>
				</a>
				<a target="_blank" href="https://t.me/roomit_xyz">
					<i class="fa-brands fa-telegram" aria-hidden="true" title="Telegram"></i>
					<span class="sr-only">Telegram</span>
				</a>
				<a target="_blank" href="https://twitter.com/roomit_xyz">
					<i class="fab fa-twitter" aria-hidden="true" title="Twitter"></i>
					<span class="sr-only">Twitter</span>
				</a>
			</div>
	    </main>

		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->