<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div>
                <ul class="nav">
                    <li class="nav-item">
                        <ul class="list-inline-mb-0">
                            <li class="list-inline-item">
                                <a class="page-scroll" href="#home">Home</a>
                            </li>
                            <li class="list-inline-item footer-menu-divider">&sdot;</li>
                            <li class="list-inline-item">
                                <a class="page-scroll" href="#about">About</a>
                            </li>
                            <li class=" list-inline-item footer-menu-divider">&sdot;</li>
                            <li class="list-inline-item">
                                <a class="nav-link page-scroll" href="#services">Services</a>
                            </li>
                            <li class="list-inline-item footer-menu-divider">&sdot;</li>
                            <li class="list-inline-item">
                                <a class="page-scroll" href="#contact">Contact</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}</p>
            </div>
        </div>
    </div>
</footer>

<iframe src="https://monitoring.roomit.xyz/d-solo/UJyurCTWz/roomit-tendermint-performance?orgId=1&var-DS=Prometheus&var-chain_id=laozi-mainnet&var-instance=bandprotocol&from=1694341356112&to=1694427756112&panelId=53" width="450" height="200" frameborder="0"></iframe>