<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">

  
    <!-- Section: Links  -->
    <section>
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>RoomIT Validator
            </h6>
            <p>
              RoomIT is a startup focused on leveraging blockchain technology and focus in depin (Decentralized Physical Infrastructure) Technology.
              create a decentralized virtual private network (VPN) service and validation transaction in many blockchains. 
              The core idea behind Valiadtor is to provide users with a secure, private, and censorship-resistant internet browsing experience.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset text-decoration-none">RoomVPN (under development)</a>
            </p>
            <p>
              <a href="#!" class="text-reset text-decoration-none">Alerting Asset Cosmos (under development)</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful
            </h6>
            <p>
              <a href="https://explorer.tendermint.roomit.xyz" class="text-reset text-decoration-none">Explorer Tendermint</a>
            </p>
            <p>
              <a href="https://explorer.blockx.roomit.xyz" class="text-reset text-decoration-none">Explorer Blockx EVM</a>
            </p>
            <p>
              <a href="https://docs.roomit.xyz" class="text-reset text-decoration-none">Technical Documents</a>
            </p>
            <p>
              <a href="https://roomit.medium.com" class="text-reset text-decoration-none">Medium Blog</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> Jakarta, ID - Indonesia | Virtual Office </p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              admin@roomit.xyz
            </p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  </footer>
  <!-- Footer -->