<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="list-inline">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}</p>
            </div>
	    <div class="w-100"></div>
	    <div class="col-12 d-flex pull-right">
	        Powered By
		<div>
		<a href="https://www.digitalocean.com/?refcode=dff6cbbc3247&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge">
			<img src="img/powered/digitalocean.svg"  width="193" height="50%"  alt="DigitalOcean" />
		</a>
      	        <a href="https://www.centos.org/">
			<img src="img/powered/centos.png" width="198" height="60%" alt="Centos" />
		</a>
                <a href="https://ubuntu.com/">
			<img src="img/powered/ubuntu.png" width="198" height="60%" alt="Ubuntu" />
		</a>
                <a href="https://stake.roomit.xyz">
			<img src="img/powered/blockchain.jpeg" width="198" height="60%" alt="Blockchain" />
		</a>

		</div>
	    </div>
        </div>
    </div>
</footer>
