<!-- Navigation -->
<nav id="navbar_top" class="navbar navbar-expand-lg navbar-light bg-light shadow">
   <div class="container">
    <div class="d-flex flex-nowrap w-100">       <!-- ditambahan Ieu-->
      <a class="navbar-brand" href="#home"><img src="img/services/logo.png" width="12%">RoomIT</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div> <!-- akhir ieu-->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="#services">Product </a></li>
        <li class="nav-item"><a class="nav-link" href="#testnet"> Testnet </a></li>
        <li class="nav-item"><a class="nav-link" href="#archieve"> Archives </a></li>
        <li class="nav-item"><a class="nav-link" target="_blank" href="https://docs.roomit.xyz"> Documents </a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Explorer
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item"><a href="https://explorer.tendermint.roomit.xyz" class="nav-link" target="_blank" >Explorer Cosmos</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Explorer EVM</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Status
          </a>
          <ul class="dropdown-menu">
            <li role="separator" class="divider p-1">Mainnet</li>
            <li class="nav-item"><a href="https://health.roomit.xyz/status/gravity-bridge/" class="nav-link" target="_blank" >Gravity Bridge</a></li>
            <li class="nav-item"><a href="https://health.roomit.xyz/status/nym-mixnode/" class="nav-link" target="_blank" >NYM</a></li>
            <li class="nav-item"><a href="https://health.roomit.xyz/status/gitopia/" class="nav-link" target="_blank" >Gitopia</a></li>
            <li class="nav-item"><a href="https://health.roomit.xyz/status/planq/" class="nav-link" target="_blank" >Planq</a></li>
            <li class="nav-item"><a href="https://health.roomit.xyz/status/8ball/" class="nav-link" target="_blank" >8Ball</a></li>
            <li class="nav-item"><a href="https://health.roomit.xyz/status/ibc-relayer" class="nav-link" target="_blank" >IBC</a></li>
            <li role="separator" class="divider p-1">Testnet</li>
            <li class="nav-item"><a href="https://health.roomit.xyz/status/testnet/" class="nav-link" target="_blank" >Testnet Global</a></li>
            <li role="separator" class="divider p-1">Servers</li>
            <li class="nav-item"><a href="https://health.roomit.xyz/status/network/" class="nav-link" target="_blank" >VPS-01</a></li>
            <li class="nav-item"><a href="https://health.roomit.xyz/status/horcrux-01/" class="nav-link" target="_blank" >VPS-02</a></li>
            <li class="nav-item"><a href="https://health.roomit.xyz/status/horcrux-02/" class="nav-link" target="_blank" >VPS-03</a></li>
            <li class="nav-item"><a href="https://health.roomit.xyz/status/mainnet-02/" class="nav-link" target="_blank" >VDS-02</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="#contact"> Contact </a></li>
      </ul>
    </div> <!-- navbar-collapse.// -->
  </div> <!-- container-fluid.// -->
</nav>
<section id="home">
  <!-- Header -->
  <div class="intro-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <div class="text-center">
              <img class="img rounded-circle" style="border-radius: 10%;" ; src="img/services/{{ page.img }}" alt="">
            </div>
            <h1 style="font-family: 'RoomIT';">{{ page.title }}</h1>
            <!-- <h3 style="font-family: 'Signature';">{{ page.subTitle }}</h3> -->
            <main>
              <!-- Find your icons from here - https://fontawesome.com/icons?d=gallery&s=brands -->
              <div class="icons-social" style="text-shadow: 0px 1px 1px;">
                <a target="_blank" href="https://stake.roomit.xyz/">
                  <i class="fa-sharp fa-solid fa-blog" aria-hidden="true" title="RoomIT Staking Informations"></i>
                  <span class="sr-only">Staking</span>
                </a>
                <a target="_blank" href="https://github.com/roomit-xyz">
                  <i class="fab fa-github" aria-hidden="true" title="Github"></i>
                  <span class="sr-only">Github</span>
                </a>
                <a target="_blank" href="https://docs.roomit.xyz">
                  <i class="fas fa-book" aria-hidden="true" title="Documents"></i>
                  <span class="sr-only">Documents</span>
                </a>
                <a target="_blank" href="https://roomit.medium.com">
                  <i class="fab fa-medium" aria-hidden="true" title="Medium"></i>
                  <span class="sr-only">Medium</span>
                </a>
                <a target="_blank" href="mailto: admin@roomit.xyz">
                  <i class="fa-solid fa-envelope" aria-hidden="true" title="Email"></i>
                  <span class="sr-only">Email</span>
                </a>
                <a target="_blank" href="https://t.me/roomit_xyz">
                  <i class="fa-brands fa-telegram" aria-hidden="true" title="Telegram"></i>
                  <span class="sr-only">Telegram</span>
                </a>
                <a target="_blank" href="https://twitter.com/roomit_xyz">
                  <i class="fab fa-twitter" aria-hidden="true" title="Twitter"></i>
                  <span class="sr-only">Twitter</span>
                </a>
              </div>
            </main>
          </div>
        </div>
      </div>

    </div>
    <!-- /.container -->

  </div>
  <!-- /.intro-header -->
</section>