<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
        <a class="navbar-brand page-scroll" href="#home">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#about">RoomIT <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#services">Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#testnet">Testnet</a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
    </div>    
</nav>
<section id="home">
<!-- Header -->
	<div class="intro-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message">
						<div class="text-center">
						<img class="img rounded-circle" style="border-radius: 10%;"; src="img/services/{{ page.img }}" alt="" width=20%>
						</div>
						<h1>{{ page.title }}</h1>
						<h3>{{ page.subTitle }}</h3>
						<main>
                  <!-- Find your icons from here - https://fontawesome.com/icons?d=gallery&s=brands -->
                  <div class="icons-social">
                    <a target="_blank" href="https://github.com/roomit-xyz">
                      <i class="fab fa-github" aria-hidden="true" title="Github"></i>
                      <span class="sr-only">Github</span>
                    </a>
                    <a target="_blank" href="https://roomit.medium.com">
                      <i class="fab fa-medium" aria-hidden="true" title="Medium"></i>
                      <span class="sr-only">Medium</span>
                    </a>
                    <a target="_blank" href="mailto: admin@roomit.xyz">
                      <i class="fa-solid fa-envelope" aria-hidden="true" title="Email"></i>
                      <span class="sr-only">Email</span>
                    </a>
                    <a target="_blank" href="https://t.me/roomit_xyz">
                      <i class="fa-brands fa-telegram" aria-hidden="true" title="Telegram"></i>
                      <span class="sr-only">Telegram</span>
                    </a>

                  </div>
            </main>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
