<!-- jQuery Version 1.11.0 -->
<script src="js/jquery-3.6.1.js"></script>

<!-- Plugin JavaScript -->
<script src="{{ " js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<script src="js/iao-alert.jquery.js"></script>

<!-- ######### BODY PAGE ######## -->
<script>
  // Clipboard For NYM
  function clip_one_func() {
    // Get the text field
    var copyText = document.getElementById("clip_one");

    // Select the text field
    copyText.select();
    copyText.setSelectionRange(0, 99999); // For mobile devices

    // Copy the text inside the text field
    navigator.clipboard.writeText(copyText.value);

    // Alert the copied text
    //alert("ID Node Copied: " + copyText.value);
    $.iaoAlert({
      msg: "NYM Mixnode | ID Node Copied",
      type: "success",
      mode: "light", position: "bottom-right", zIndex: "1000"
    })

  }

  // Clipboard For Gravity
  function clip_two_func() {
    // Get the text field
    var copyText = document.getElementById("clip_two");

    // Select the text field
    copyText.select();
    copyText.setSelectionRange(0, 99999); // For mobile devices

    // Copy the text inside the text field
    navigator.clipboard.writeText(copyText.value);

    // Alert the copied text
    //alert("ID Node Copied: " + copyText.value);
    $.iaoAlert({
      msg: "Gravity Bridge | ID Node Copied",
      type: "success",
      mode: "light", position: "bottom-right", zIndex: "1000"
    })

  }

  $('div.modal').on('show.bs.modal', function () {
    var modal = this;
    var hash = modal.id;
    window.location.hash = hash;
    window.onhashchange = function () {
      if (!location.hash) {
        $(modal).modal('hide');
      }
    }
  });


  document.addEventListener("DOMContentLoaded", function () {
    window.addEventListener('scroll', function () {
      if (window.scrollY > 50) {
        document.getElementById('navbar_top').classList.add('fixed-top');
        // add padding top to show content behind navbar
        navbar_height = document.querySelector('.navbar').offsetHeight;
        document.body.style.paddingTop = navbar_height + 'px';
      } else {
        document.getElementById('navbar_top').classList.remove('fixed-top');
        // remove padding top from body
        document.body.style.paddingTop = '0';
      }
    });
  });

</script>