<div class="content-section-a"  id="mainnet">
    <section id="services">
        <div class="d-flex justify-content-center" id="service">
            <h2>Mainnet Network</h2>
            <br>
        </div>
        <div class="container mt-5 mb-3">
            <div class="row">
                {% for post in site.mainnet reversed %}
                {% if post.blockchain_kind == "tendermint" %}
                <div class="col-md-4">
                    <div class="card p-3 mb-2">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div class="icon"> <i class="bx"><img class="imgs"
                                            src="img/services/{{ post.img }}"></i>
                                </div>
                                <div class="ms-2 c-details">
                                    <h6 class="mb-0" style="text-align: left;">{{ post.title }}</h6>
                                    {% assign products = post.ibc_service %}
                                    {% for item in products%}
                                    <span class="badge badge-primary" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="{{item}}"><b>{{ item
                                        }}</b></span>&nbsp;
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="badge"> <span><text onclick="clip_{{post.clip_id}}_three()">id</text></span>
                            </div>
                            <input type="text" id="clip_{{post.clip_id}}" value="{{post.validatorid}}" hidden=true>
                        </div>
                        <div class="mt-3">
                            <h6 class="heading primary">{{ post.content }}</h6>
                        </div>
                        <p class="font-weight-lighter">{{ post.description }}.</p>
                        <p align="center"><b>Our Nodes </b></p>
                        <div class="card-deck">
                            <div class="card border-primary">
                                <div class="card-header text-white bg-primary">Services</div>
                                <div class="card-body text-left">
                                    <p class="card-text"><a href="{{ post.rpc }}"
                                            class="text-decoration-none text-reset" data-bs-toggle="tooltip" data-bs-placement="top" title="{{  post.rpc  }}" target="_blank">RPC</a></p>
                                    <p class="card-text"><a href="{{ post.api }}"
                                            class="text-decoration-none text-reset"  data-bs-toggle="tooltip" data-bs-placement="top" title="{{  post.api  }}"  target="_blank">API</a></p>
                                    <p class="card-text"><a href="{{ post.grpc }}"
                                            class="text-decoration-none text-reset"  data-bs-toggle="tooltip" data-bs-placement="top" title="{{  post.grpc  }}" target="_blank">GRPC</a></p>
                                    <p class="card-text"><a href="{{ post.snapshot }}"
                                            class="text-decoration-none text-reset" data-bs-toggle="tooltip" data-bs-placement="top" title="{{  post.snapshot  }}"  target="_blank">Snapshot</a></p>
                                    <p class="card-text"><a href="{{ post.genesis }}"
                                            class="text-decoration-none text-reset" data-bs-toggle="tooltip" data-bs-placement="top" title="{{  post.genesis  }}"  target="_blank">Genesis</a></p>
                                    <p class="card-text"><a href="{{ post.addressbook }}"
                                            class="text-decoration-none text-reset" data-bs-toggle="tooltip" data-bs-placement="top" title="{{  post.addressbook  }}"  target="_blank">Addressbook</a></p>
                                    {% if post.restake %}
                                     <p class="card-text"><a href="{{ post.restake }}"
                                                class="text-decoration-none text-reset" data-bs-toggle="tooltip" data-bs-placement="top" title="{{  post.restake  }}"  target="_blank">Restake</a></p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card border-primary">
                                <div class="card-header text-white bg-primary">Monitoring</div>
                                <div class="card-body text-left">
                                    <p class="card-text"><a href="{{ post.global_health }}"
                                            class="text-decoration-none text-reset" data-bs-toggle="tooltip" data-bs-placement="top" title="{{  post.global_health   }}"  target="_blank">Global Health</a>
                                    </p>
                                    <p class="card-text"><a href="{{ post.history_health }}"
                                            class="text-decoration-none text-reset" data-bs-toggle="tooltip" data-bs-placement="top" title="{{  post.history_health   }}"  target="_blank">History Health</a>
                                    </p>
                                    {% if post.evm_explorer %}
                                    <p class="card-text"><a href="{{ post.evm_explorer }}"
                                            class="text-decoration-none text-reset" data-bs-toggle="tooltip" data-bs-placement="top" title="{{  post.evm_explorer    }}"  target="_blank">EVM Explorer</a></p>
                                    {% endif %}
                                    <p class="card-text"><a href="{{ post.tendermint_explorer }}"
                                            class="text-decoration-none text-reset" data-bs-toggle="tooltip" data-bs-placement="top" title="{{  post.tendermint_explorer    }}"  target="_blank">Tendermint
                                            Explorer</a></p>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer bg-transparent text-right" style="border: none;">
                            <a href="{{post.stake}}" class="btn btn-success margin-top" target="_blank">Lets Stake</a>
                        </div>
                    </div>
                </div>
                {% elsif post.blockchain_kind == "evm" %}
                <!-- Ini untuk EVM Card -->
                <div class="col-md-4">
                    <div class="card p-3 mb-2">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div class="icon"> <i class="bx"><img class="imgs"
                                            src="img/services/{{ post.img }}"></i>
                                </div>
                                <div class="ms-2 c-details">
                                    <h6 class="mb-0" style="text-align: left;">{{ post.title }}</h6>
                                </div>
                            </div>
                            <div class="badge"> <span><text onclick="clip_{{post.clip_id}}_three()">id</text></span>
                            </div>
                            <input type="text" id="clip_{{post.clip_id}}" value="{{post.validatorid}}" hidden=true>
                        </div>
                        <div class="mt-3">
                            <h6 class="heading primary">{{ post.content }}</h6>
                        </div>
                        <p class="font-weight-lighter">{{ post.description }}.</p>
                        <div class="card-deck">
                            <div class="card border-primary">
                                <div class="card-header text-white bg-primary">ID Node</div>
                                <div class="card-body text-left">
                                    {% assign id_node = post.node %}
                                    {% assign node_counter = 0 %}
                                    {% for item in id_node %}
                                    {% assign node_counter = node_counter | plus: 1 %}
                                    <p class="card-text"><a href="https://beacon.gnosischain.com/validator/{{ item }}"
                                            class="text-decoration-none text-reset" target="_blank">Node {{ node_counter
                                            }} </a></p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% elsif post.blockchain_kind == "polkadot" %}
                Ini untuk Polkadot Card
                {% elsif post.blockchain_kind == "dvpn" %}
                <!-- Ini untuk DVPN Card -->
                 <!-- Ini untuk EVM Card -->
                 <div class="col-md-4">
                    <div class="card p-3 mb-2">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div class="icon"> <i class="bx"><img class="imgs"
                                            src="img/services/{{ post.img }}"></i>
                                </div>
                                <div class="ms-2 c-details">
                                    <h6 class="mb-0" style="text-align: left;">{{ post.title }}</h6>
                                </div>
                            </div>
                            <div class="badge"> <span><text onclick="clip_{{post.clip_id}}_three()">id</text></span>
                            </div>
                            <input type="text" id="clip_{{post.clip_id}}" value="{{post.validatorid}}" hidden=true>
                        </div>
                        <div class="mt-3">
                            <h6 class="heading primary">{{ post.content }}</h6>
                        </div>
                        <p class="font-weight-lighter">{{ post.description }}.</p>
                        <div class="card-deck">
                            <div class="card border-primary">
                                <div class="card-header text-white bg-primary">ID Node</div>
                                <div class="card-body text-left">
                                    {% assign id_node = post.node %}
                                    {% assign node_counter = 0 %}
                                    {% for item in id_node %}
                                    {% assign node_counter = node_counter | plus: 1 %}
                                    <p class="card-text">{{ item }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {%endif%}
                {%endfor%}
            </div>
        </div>
    </section>
</div>