<section id="testnet" class="container-fluid pt-3 content-section text-left">
<div class="text-right"><h2>Testnet | Blockchain</h2></div>
<table class="table table-striped  table-responsive-lg">
<thead>
<tr>
   <td>BLOCKCHAINS</td>
   <td>ID NODE</td>
   <td>SITES</td>
   <td>STATUS</td>
  </tr>
</thead class="thead-dark" >
<tr>
   <td>Aptos Blockchain</td>
   <td>0x34c05a76cd0670f614521464b709a9b1133f4e2870ff0cff956dc888e3d28e4b<br>0x87b30b548452c5a3200a1aec4251a1a01b05b15cb74d41e49701665ef4d36804</td>
   <td>
   https://aptoslabs.com/it2 <br>
   https://aptoslabs.com/leaderboard/it3
   </td>
   <td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#testnet1">Success</button></td>
</tr>
<tr>
   <td>Alephzero</td>
   <td>5FjG4uqoHiHgrvkNRn73nkcTm3xQzdsBm6p8tZxgDBqFYbLR</td>
   <td>https://test.azero.dev/#/staking</td>
   <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#testnet2">Progressing</button></td>
</tr>
<tr>
   <td>Aleo</td>
   <td>aleo1c952zedget4ssvj580h5gqsqea3ucc7sj404man2fl44epcrqspsfpqmau</td>
   <td>https://aleo123.io</td>
   <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#testnet3">Progressing</button></td>
</tr>
<tr>
   <td>Massa</td>
   <td>A12R5upMdntvvvAFpTjW7ipugXFMnNFqg2FnUVwkARmC2B8AhCWf</td>
   <td>https://massa.net/testnet/</td>
   <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#testnet4">Progressing</button></td>
</tr>
<tr>
   <td>Gitopia</td>
    <td>gitopiavaloper1zwjdxszdlnx23t4qj6pmf695qlwlyfu5ztauw6</td>
   <td>https://explorer.gitopia.com/</td>
   <td><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#testnet5">Preparation</button></td>
</tr>
<tr>
   <td>Celestia</td>
    <td>celestiavaloper1c8czuf6nwvmwl2c6p05hhzj94ruxk2r08f5k0h</td>
   <td>https://celestia.explorers.guru/validator/</td>
   <td><button type="button" class="btn btn-warning"  data-toggle="modal" data-target="#testnet6">Preparation</button></td>
</tr>
<tr>
   <td>Chainflip</td>
    <td>cFJeTec6nZ81729HNebTp9Yb8DfUxfwmKmdvZvimGZnokLrvK</td>
   <td>https://blocks-perseverance.chainflip.io/validator/</td>
   <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#testnet7">Progressing</button></td>
</tr>
<tr>
   <td>Minima</td>
    <td>Mining</td>
    <td>https://minima.global</td>
    <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#testnet8">Progressing</button></td>
</tr>
</table>


<!-- Modal -->
<div class="modal fade" id="testnet1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-xl" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">APTOS BLOCKCHAIN</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col" class="bg-primary" colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Aptos Blockchain</td>
              <td>Aptos Incentive Testnet (AIT)</td>
              <td>
                  <a href="https://aptoslabs.com">Aptos Website</a><br>
                  https://aptoslabs.com/it2 with ID : 0x34c05a76cd0670f614521464b709a9b1133f4e2870ff0cff956dc888e3d28e4b <br>
                  <a href="https://explorer.aptoslabs.com/account/0x87b30b548452c5a3200a1aec4251a1a01b05b15cb74d41e49701665ef4d36804?network=ait3">https://aptoslabs.com/leaderboard/it3 </a> with ID : 0x87b30b548452c5a3200a1aec4251a1a01b05b15cb74d41e49701665ef4d36804 
              </td>
            </tr>
            <tr>
                <td>Technology</td>
                <td colspan="2">
                  System Operation : Ubuntu 22.04<br>
                  Application : Aptos Blockchain (Dockerizing) <br>
                  Monitoring : Grafana, Prometheus, Telegraf (<a href="/pdf/RoomIT-Aptos_Validator-Grafana.pdf"> Monitoing APT</a> ) <br>               
                  Security : Audit (Lynis and Greenbonde), Hardening CIS <br>
                  Network : Wireguard (Communication between Machine) <br>
                </td>
            </tr>
           </tbody>
        </table>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
     </div>
   </div>
 </div>
<div class="modal fade" id="testnet2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-xl" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">ALEPHZERO BLOCKCHAIN</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col" class="bg-primary" colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Alephzero Blockchain</td>
              <td>Community Validator Mainnet</td>
              <td>
                  <a href="https://alephzero.org/">Alephzero Website</a><br>
                  ID : 5FjG4uqoHiHgrvkNRn73nkcTm3xQzdsBm6p8tZxgDBqFYbLR <br>
                  Name Validator : RoomIT <br>
                  Sites : <a href="https://test.azero.dev/#/staking">Staking Testnet</a> <br>
                  Monitoring  : <a href="https://snapshots.raintank.io/dashboard/snapshot/PGW1SHvi50uPmMvXH7eBmS0li747SI47">RoomIT Monitoring</a>
                            
              </td>
            </tr>
            <tr>
                <td>Technology</td>
                <td colspan="2">
                  System Operation : Ubuntu 22.04<br>
                  Application : Alepzero Blockchain (Dockerizing) <br>
                  Monitoring : Grafana, Prometheus, Telegraf <br>               
                  Security : Audit (Lynis and Greenbonde), Hardening CIS <br>
                  Network : Wireguard (Communication between Machine) <br>
                </td>
            </tr>
           </tbody>
        </table>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
     </div>
   </div>
 </div>
<div class="modal fade" id="testnet3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-xl" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">ALEO NETWORK</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         ...
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
     </div>
   </div>
 </div>
<div class="modal fade" id="testnet4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-xl" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">MASSA LABS</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         ...
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
     </div>
   </div>
 </div>
<div class="modal fade" id="testnet5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-xl" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         ...
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
     </div>
   </div>
 </div>
<div class="modal fade" id="testne" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-xl" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">GITOPIA</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         ...
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
     </div>
   </div>
 </div>
<div class="modal fade" id="testnet6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-xl" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">CELESTIA</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         ...
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
     </div>
   </div>
 </div>
<div class="modal fade" id="testnet7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-xl" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">CHAINFLIP</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         ...
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
     </div>
   </div>
 </div>
<div class="modal fade" id="testnet8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-xl" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">MINIMA</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         ...
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
     </div>
   </div>
 </div>


</section>


