<section id="testnet" class="container content-section text-left">
<div class="text-right"><h2>Testnet | Blockchain</h2></div>
<table class="table table-striped table-sm">
<thead>
<tr>
   <td>BLOCKCHAINS</td>
   <td>ID NODE</td>
   <td>SITES</td>
   <td>STATUS</td>
   <!-- <td>DETAILS</td> -->
</tr>
</thead class="thead-dark" >
<tr>
   <td>Aptos Blockchain</td>
   <td>0x34c05a76cd0670f614521464b709a9b1133f4e2870ff0cff956dc888e3d28e4b<br>0x87b30b548452c5a3200a1aec4251a1a01b05b15cb74d41e49701665ef4d36804</td>
   <td>
   https://aptoslabs.com/it2 <br>
   https://aptoslabs.com/leaderboard/it3
   </td>
   <td><button type="button" class="btn btn-success">Success</button></td>
</tr>
<tr>
   <td>Alephzero</td>
   <td>5FjG4uqoHiHgrvkNRn73nkcTm3xQzdsBm6p8tZxgDBqFYbLR</td>
   <td>https://test.azero.dev/#/staking</td>
   <td><button type="button" class="btn btn-info">On Going</button></td>
</tr>
<tr>
   <td>Aleo</td>
   <td>aleo1c952zedget4ssvj580h5gqsqea3ucc7sj404man2fl44epcrqspsfpqmau</td>
   <td>https://aleo123.io</td>
   <td><button type="button" class="btn btn-info">On Going</button></td>
</tr>
<tr>
   <td>Massa</td>
   <td>A12R5upMdntvvvAFpTjW7ipugXFMnNFqg2FnUVwkARmC2B8AhCWf</td>
   <td>https://massa.net/testnet/</td>
   <td><button type="button" class="btn btn-info">On Going</button></td>
</tr>
<tr>
   <td>Gitopia</td>
    <td>gitopiavaloper1zwjdxszdlnx23t4qj6pmf695qlwlyfu5ztauw6</td>
   <td>https://explorer.gitopia.com/</td>
   <td><button type="button" class="btn btn-warning">Preparation</button></td>
</tr>
<tr>
   <td>Celestia</td>
    <td>celestiavaloper1c8czuf6nwvmwl2c6p05hhzj94ruxk2r08f5k0h</td>
   <td>https://celestia.explorers.guru/validator/</td>
   <td><button type="button" class="btn btn-danger">Hold</button></td>
</tr>
<tr>
   <td>Chainflip</td>
    <td>cFJeTec6nZ81729HNebTp9Yb8DfUxfwmKmdvZvimGZnokLrvK</td>
   <td>https://blocks-perseverance.chainflip.io/validator/</td>
   <td><button type="button" class="btn btn-info">On Going</button></td>
</tr>
<tr>
   <td>Minima</td>
    <td>Mining</td>
    <td>https://minima.global</td>
    <td><button type="button" class="btn btn-info">On Going</button></td>
</tr>
</table>




</section>


